<%- include ('partials/navbar') %>
<div class="row mt-6" style="margin-top:20px;">
    <div class="col-md-7 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-robot"></i> Generate Passwords
            </h1>
            <%- include ('partials/messages') %>
            <form action="/manage/generatepassword" method="POST">
                <div class="form-group">
                    <label for="passlen">Password Length</label>
                    <input type="passlen" id="passlen" name="passlen" class="form-control"
                        placeholder="Enter Desired Password Length"
                        value="<%= typeof passlen != 'undefined' ? passlen : '' %>" />
                </div>
                <div class="form-group">
                    <label for="passcount">No of Passwords</label>
                    <input type="passcount" id="passcount" name="passcount" class="form-control"
                        placeholder="Enter Desired No of Passwords"
                        value="<%= typeof passcount != 'undefined' ? passcount : '' %>" />
                </div>
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="numbers" name="numbers" checked="">
                        <label class="custom-control-label" for="numbers">numbers</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="symbols" name="symbols" checked="">
                        <label class="custom-control-label" for="symbols">symbols</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="lowercase" name="lowercase" checked="">
                        <label class="custom-control-label" for="lowercase">lowercase</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="uppercase" name="uppercase" checked="">
                        <label class="custom-control-label" for="uppercase">uppercase</label>
                    </div>
                    <small id="fileHelp" class="form-text text-muted">At least one should be true From Above
                        options.</small>
                </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
            Generate
        </button>
        </form>

    </div>





</div>

<% if(typeof (passwords) != "undefined"){ %>
<div class="table-responsive">
    <table class="table table-striped table-hover table-dark">
        <thead>
            <tr class="bg-info">
                <th>SNO</th>
                <th>PASSWORDS</th>

            </tr>
        </thead>
        <tbody>

            <%if (passwords.length >0){ %>
            <% passwords.forEach(function(row,index){ %>
            <tr>
                <td><%= index +1 %></td>
                <td><%= row %></td>


            </tr>


            <% })}else{ %>
            <tr>
                <td colspan="6">No Record Found</td>

            </tr>
            <% } %>
            <button style="margin-top:20px; margin-bottom:10px;" type="button" class="btn btn-outline-danger">
                <span class="badge badge-info"> <%=passwords.length %></span>Passwords Generated
            </button>
        </tbody>
    </table>
</div>
<% } %>